#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include "custom_keymap.h"

&sk {
    release-after-ms = <2000>;
    quick-release;
    /delete-property/ ignore-modifiers;
};


/ {
    behaviors {
      #include "macros.dtsi"
      #include "nav.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
&key_repeat  &kp N1     &kp N2      &kp N3       &kp N4        &kp N5      &tog 1                                                                                           &mo 2              &kp N6      &kp N7        &kp N8       &kp N9          &kp N0          &kp MINUS  
&kp GRAVE    &kp Q      &kp W       &kp E        &kp R         &kp T       &kp COMMANDBAR                                                                                   &run_py            &kp Y       &hm LGUI U    &kp I        &kp O           &kp P           &kp UDIA   
&kp ESC      &kp A      &hm LALT S  &hm LCTRL D  &hm LSHIFT F  &hm LGUI G  &kp HYPER                 &kp DELETE  &none     &none  &none  &none      &none                   &kp OPEN_TERMINAL  &hm LGUI H  &hm RSHIFT J  &hm RCTRL K  &hm RALT L      &kp APOSTROPHE  &kp ODIA   
&none        &z_undo    &x_cut      &kp C        &v_paste      &kp B                       &none     &none       &kp HOME  &none  &none  &kp PG_UP  &none      &none                           &kp N       &kp M         &kp COMMA    &kp DOT         &kp SLSH_QUEST  &kp ADIA   
&kp ENTER    &sk LSHFT  &caps_word  &kp LEFT     &kp RIGHT                                 &kp BSPC  &kp TAB     &kp END                 &kp PG_DN  &kp ENTER  &lt 1 SPACE                                 &kp DOWN      &kp UP       &kp UNDERSCORE  &kp HYPER       &gohome
      >;
    };
    fn {
      bindings = <
&trans  &kp F1  &kp F2    &kp F3     &kp F4      &kp F5    &tog 1                                                              &mo 3          &kp F6     &kp F7       &kp F8    &kp F9    &kp F10          &kp F11  
&trans  &trans  &trans    &trans     &trans      &trans    &none                                                               &kp PLUS       &kp EQL    &kp COLON    &kp RBKT  &kp LBKT  &trans           &kp F12  
&trans  &trans  &kp LALT  &kp LCTRL  &kp LSHIFT  &kp LGUI  &none          &trans  &trans  &none  &none  &trans  &trans         &kp BACKSLASH  &kp SLASH  &kp RPAR     &kp LPAR  &trans    &kp DOUBLEQUOTE  &trans   
&trans  &trans  &trans    &trans     &trans      &trans            &none  &none   &trans  &none  &none  &trans  &none   &none                 &kp PIPE   &kp RBRC     &kp LBRC  &trans    &trans           &trans   
&trans  &trans  &trans    &trans     &trans                        &trans &trans  &trans                &trans  &trans  &trans                           &kp GREATER  &kp LESS  &trans    &trans           &trans
      >;
    };
    mod {
      bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                                                                        &trans                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none  
&none  &none         &none         &none         &none         &none         &bootloader                                                                                                  &bootloader             &none         &none         &none         &none         &none         &none  
&none  &none         &none         &none         &none         &none         &none                         &bt BT_CLR  &bt BT_CLR  &none  &none  &bt BT_CLR  &bt BT_CLR                   &rgb_ug RGB_MEFS_CMD 5  &none         &none         &none         &none         &none         &none  
&none  &none         &none         &none         &none         &none                      &none            &none       &none       &none  &none  &none       &none       &none                                    &none         &none         &none         &none         &none         &none  
&none  &none         &none         &bl BL_INC    &bl BL_DEC                               &rgb_ug RGB_TOG  &bl BL_TOG  &none                     &none       &bl BL_TOG  &rgb_ug RGB_TOG                                        &bl BL_INC    &bl BL_DEC    &none         &none         &none
      >;
    };
  nav {
      bindings = <
&none  &tdws1  &tdws2          &tdws3          &tdws4           &tdws5  &kp MOVE_TO_NEXT_MONITOR                                                                &none  &tdws6  &tdws7  &tdws8  &tdws9  &tdws10  &none  
&none  &none   &none           &kp FOCUS_UP    &none            &none   &none                                                                                   &none  &none   &none   &none   &none   &none    &none  
&none  &none   &kp FOCUS_LEFT  &kp FOCUS_DOWN  &kp FOCUS_RIGHT  &none   &none                                 &none  &tog 3  &none  &none  &none  &none         &none  &none   &none   &none   &none   &none    &none  
&none  &none   &none           &none           &none            &none                             &none       &none  &none   &none  &none  &none  &none  &none         &none   &none   &none   &none   &none    &none  
&none  &none   &none           &none           &none                                              &kp LSHIFT  &none  &none                 &none  &none  &none                 &none   &none   &none   &none    &none
      >;
    };

  };
};


// &none  &none  &none  &none  &none  &none  &none                                                          &none  &none  &none  &none  &none  &none  &none  
// &none  &none  &none  &none  &none  &none  &none                                                          &none  &none  &none  &none  &none  &none  &none  
// &none  &none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  
// &none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  
// &none  &none  &none  &none  &none                &none  &none  &none                &none  &none  &none                &none  &none  &none  &none  &none
