run_py: run_py {
    compatible = "zmk,behavior-tap-dance";
    label = "run_py";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp RUN_PREV>, <&kp RUN_CURRENT_FILE>, <&kp DEBUG>;
};
